#list-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 25px 0px 0px 0px;
  letter-spacing: 1px;
}

.crypto-list {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 20px 70px 40px 70px;
}

.crypto-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.crypto-card:hover {
  transform: scale(1.1);
}

.crypto-link {
  text-decoration: none;
}

.crypto-name {
  margin: 10px;
  color: #2c9ad5;
  font-size: 20px;
}

.crypto-symbol {
  margin: 10px;
  color: #9fd8f1;
  font-size: 18px;
}

.crypto-price {
  margin: 10px;
  color: black;
  font-size: 18px;
}

.crypto-change-green {
  margin: 5px;
  color: rgb(0, 169, 0);
  font-size: 16px;
}

.crypto-change-red {
  margin: 5px;
  color: red;
  font-size: 16px;
}

@media only screen and (min-width: 1440px) {
  .crypto-list {
    margin: 50px 200px 40px 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .crypto-card {
    margin: 10px;
  }
  #list-title {
    font-size: 32px;
    margin: 40px 0px 0px 0px;
  }
}
