/* .page {
  display: flex;
  flex-direction: column;
} */

.crypto-list-dp {
  display: none;
}

/* .crypto-card-dp {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
} */

/* .crypto-link-dp {
  text-decoration: none;
}

.crypto-name-dp {
  color: #2c9ad5;
  font-size: 18px;
}

hr {
  display: none;
  width: 95%;
} */

#crypto-detail-name {
  margin: 10px 5px 5px 5px;
  font-size: 28px;
  color: white;
}

#crypto-detail-symbol {
  margin: 5px;
  font-size: 22px;
  color: #9fd8f1;
}

#crypto-detail-description {
  margin: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #f9fafb;
}

#create-button {
  margin: 5px 5px 1px 5px;
  font-size: 24px;
  background-color: white;
  border: #8ba1ce 1px solid;
  border-radius: 10px;
  width: 10%;
  color: white;
  color: #8ba1ce;
  text-align: center;
  padding: 1px;
}

#edit-button,
#delete-button {
  margin: 1px 2px 1px 2px;
  font-size: 8px;
  background-color: white;
  border: #8ba1ce 1px solid;
  padding: 2px;
  border-radius: 6px;
  width: 6%;
  color: #8ba1ce;
  float: right;
}

.post-div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 40px;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#post-content {
  color: #2c9ad5;
  color: rgb(62, 62, 62);
  margin: 5px;
  text-align: left;
  font-size: 12px;
  overflow-wrap: break-word;
}

#post-user {
  color: #8ba1ce;
  margin: 2px 2px 2px 5px;
  text-align: left;
  font-size: 10px;
}

#post-time {
  font-size: 10px;
  color: #ababab;
  margin: 2px;
  text-align: right;
}

#show-button {
  margin: 5px 5px 1px 5px;
  font-size: 8px;
  background-color: white;
  border: #8ba1ce 1px solid;
  padding: 4px 8px;
  border-radius: 6px;
  width: 20%;
  color: #8ba1ce;
}

.comment-div {
  border-radius: 5px;
  background-color: #d2d2d225;
  width: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

#commenter {
  color: #8ba1ce;
  font-size: 10px;
  text-align: left;
  margin: 1px;
}

#comment-content {
  color: rgb(62, 62, 62);
  font-size: 10px;
  text-align: left;
  margin: 1px;
  overflow-wrap: break-word;
}

#edit-comment,
#delete-comment {
  margin: 2px 2px 2px 1px;
  font-size: 8px;
  background-color: white;
  border: white 1px solid;
  /* padding: 4px 4px; */
  border-radius: 4px;
  width: 6%;
  /* height: 12px; */
  color: #8ba1ce;
  float: left;
}

@media only screen and (max-width: 400px) {
  #edit-button,
  #delete-button,
  #edit-comment,
  #delete-comment,
  #show-button {
    font-size: 6px;
    padding: 1px;
  }
  /* #delete-button {
    font-size: 7px;
  } */
}

@media only screen and (max-width: 768px) {
  hr {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .detail-div {
    margin: 40px 80px 10px 80px;
  }
  .post-div {
    margin: 20px 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    display: flex;
    flex-direction: column;
  }
  .crypto-list-dp {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin: 20px 10px 10px 20px;
  }
  .crypto-card-dp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .crypto-link-dp {
    text-decoration: none;
  }
  .crypto-name-dp {
    color: #2c9ad5;
    font-size: 14px;
    padding: 0px 2px;
    margin: 2px;
  }
  hr {
    width: 95%;
  }
}

@media only screen and (min-width: 1440px) {
  .detail-div {
    margin: 40px 250px 10px 250px;
  }
  #crypto-detail-name {
    font-size: 36px;
  }
  #crypto-detail-symbol {
    font-size: 28px;
    margin: 10px 5px 20px 5px;
  }
  #crypto-detail-description {
    font-size: 16px;
  }
  .post-div {
    margin: 20px 400px 20px 400px;
  }
  #create-button {
    width: 6%;
    font-size: 28px;
  }
  #edit-button,
  #delete-button {
    width: 4%;
    font-size: 12px;
  }
  #edit-comment,
  #delete-comment {
    width: 4%;
    font-size: 10px;
  }
  #post-content,
  #post-user {
    font-size: large;
  }
  #comment-content,
  #commenter {
    font-size: 14px;
  }
  .comment-div {
    padding: 10px;
  }
  .post-div {
    padding: 25px;
  }
  .crypto-name-dp {
    font-size: 16px;
  }
}
