#select-crypto {
  margin: 10px;
  background-color: #f9fafb;
  color: #2c9ad5;
  padding: 5px;
  border: #8ba1ce 2px solid;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#create-header {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}

.create-div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-input {
  width: 80%;
  height: 150px;
  padding: 5px;
  border: #8ba1ce 2px solid;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#create-input::placeholder {
  color: #8ba1ce;
}

#post-button {
  margin: 10px 5px 1px 5px;
  font-size: 14px;
  background-color: #8ba1ce;
  border: #8ba1ce 1px solid;
  padding: 8px 10px;
  border-radius: 10px;
  width: 20%;
  color: white;
  transition: all 0.2s;
}

#post-button:hover {
  background-color: white;
  color: #2c9ad5;
}

@media only screen and (min-width: 768px) {
  #create-input {
    width: 60%;
  }
}

@media only screen and (min-width: 1440px) {
  #create-header {
    margin-top: 60px;
    font-size: 28px;
  }
  #select-crypto {
    margin: 30px;
  }
  #post-button {
    width: 10%;
  }
  #create-input {
    width: 50%;
  }
}
