.create-comment-div {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#create-comment-input {
  width: 80%;
  height: 18px;
  padding: 6px;
  border: #8ba1ce 1px solid;
  border-radius: 6px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

#create-comment-input::placeholder {
  color: #8ba1ce;
}

#post-comment-button {
  font-size: 10px;
  background-color: #8ba1ce;
  border: #8ba1ce 1px solid;
  padding: 6px;
  border-radius: 6px;
  width: 20%;
  color: white;
}

@media only screen and (min-width: 1440px) {
  #create-comment-input {
    font-size: 14px;
  }
  #post-comment-button {
    font-size: 14px;
  }
}
